@model Web.Models.Menu.MenuModel
@{
    int startPageNum;
    int endPageNum;
    ViewData["Title"] = "Menu";
    Layout = "_Layout";
    if (Model.TotalPageNum > 7)
    {
        if (Model.PageNum > 7)
        {
            startPageNum = Model.PageNum - 3;
            endPageNum = Model.PageNum + 3 > Model.TotalPageNum ? Model.TotalPageNum : Model.PageNum + 3;
        }
        else
        {
            startPageNum = 1;
            endPageNum = 7;
        }
    }
    else
    {
        startPageNum = 1;
        endPageNum = Model.TotalPageNum;
    }


}
<!DOCTYPE HTML>
<html lang="en">
<head>
    @section head{
        <link rel="stylesheet" href="~/css/MenuStyle.css" />
        <script type="text/javascript" src="~/js/MenuScript.js"></script>
    }
    </head>
<body>
    <button type="button" id="new-item-button">Create</button>
    <main>
        <table id="search-table">
            <tr id="search-row">
                
                <td class="search-bar"><input type="text" name="Title" value="" placeholder="Title" /></td>
                <td class="search-bar"><input type="text" name="Description" value="" placeholder="Description" /></td>
                <td class="search-bar"><input type="text" name="Ingredients" value="" placeholder="Ingredients" /></td>
                <td class="search-bar"><input type="text" name="Grams" value="" placeholder="Grams" /></td>
                <td class="search-bar"><input type="text" name="Calories" value="" placeholder="Calories" /></td>
                <td class="search-bar"><input type="text" name="CookingTimeFormatted" value="" placeholder="CookingTime" /></td>
                <td class="search-bar"><input type="text" name="Price" value="" placeholder="Price" /></td>
                <td class="search-bar"><input type="text" name="CreationDate" value="" placeholder="Creation Date" /></td>
            </tr>
        </table>
        <table id="items-table" border="1">

            <tr id="@Model.OrderParams">
                <th class="column-name">Title</th>
                <th class="column-name">Description</th>
                <th class="column-name">Ingredients</th>
                <th class="column-name">Grams</th>
                <th class="column-name">Calories</th>
                <th class="column-name">Cooking time</th>
                <th class="column-name">Price</th>
                <th class="column-name">Creation Date</th>
            </tr>

            @{
                foreach (var item in Model.MenuItems)
                {
                    @:<tr class="table-data">


                        @:<td id="id" hidden>@item.Id</td>
                        @:<td>@item.Title</td>
                        @:<td>@item.Description</td>
                        @:<td>@item.Ingredients</td>
                        @:<td>@item.Grams</td>
                        @:<td>@item.Calories</td>
                        @:<td>@item.CookingTimeFormatted</td>
                        @:<td>@item.Price</td>
                        @:<td>@item.CreationDate</td>


                    @:</tr>
                }
            }

        </table>
            <table id="pagination">
                <tr>
                    @for (int i = startPageNum; i <= endPageNum; i++)
                    {
                        if (i == Model.PageNum)
                        {
                            <td>@i</td>
                            continue;
                        }
                        <td><a href="/menu?page=@i">@i</a></td>
                    }
                </tr>
    </table>
    </main>

    @section complementary{
        <script>
        var orderParams = "@Model.OrderParams";

            var titleVal = '';
            var descrVal = '';
            var ingredVal = '';
            var gramsVal = '';
            var calVal = '';
            var cookTimeVal = '';
            var priceVal = '';
            var createDatVal = '';

            @if (Model.SearchFields != null)
            {
                @:var titleVal = '@(Model.SearchFields.Title == default ? "": Model.SearchFields.Title)';
                @:var descrVal = '@(Model.SearchFields.Description == default ? "": Model.SearchFields.Description)';
                @:var ingredVal = '@(Model.SearchFields.Ingredients == default ? "": Model.SearchFields.Ingredients)';
                @:var gramsVal = '@(Model.SearchFields.Grams == default ? "": Model.SearchFields.Grams.ToString())';
                @:var calVal = '@(Model.SearchFields.Calories == default ? "": Model.SearchFields.Calories.ToString())';
                @:var cookTimeVal = '@(Model.SearchFields.CookingTimeFormatted == default ? "": Model.SearchFields.CookingTimeFormatted.ToString())';
                @:var priceVal = '@(Model.SearchFields.Price == default ? "": Model.SearchFields.Price.ToString())';
                @:var createDatVal = '@(Model.SearchFields.CreationDate == default? "": Model.SearchFields.CreationDate.ToString())';

            }


        </script>
    }
</body>

</html>
