@model Web.Models.Menu.MenuModel
@{
    int startPageNum;
    int endPageNum;
    ViewData["Title"] = "Menu";
    Layout = "_Layout";
    if (Model.TotalPageNum > 7)
    {
        if (Model.PageNum > 7)
        {
            startPageNum = Model.PageNum - 3;
            endPageNum = Model.PageNum + 3 > Model.TotalPageNum ? Model.TotalPageNum : Model.PageNum + 3;
        }
        else
        {
            startPageNum = 1;
            endPageNum = 7;
        }
    }
    else
    {
        startPageNum = 1;
        endPageNum = Model.TotalPageNum;
    }
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    @section head{
        <link rel="stylesheet" href="~/css/MenuStyle.css" />
        <script type="text/javascript" src="~/js/MenuScript.js"></script>
    }
    </head>
<body>
    <button type="button" id="new-item-button">Create</button>
    <main>
        <table id="items-table" border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Grams</th>
                <th>Calories</th>
                <th>Cooking time</th>
                <th>Price</th>
                <th>Creation Date</th>
                @{
                    foreach (var item in Model.MenuItems)
                    {
                    @:<tr class="table-data">

                        @:<td id="id" hidden>@item.Id</td>
                        @:<td>@item.Title</td>
                        @:<td>@item.Description</td>
                        @:<td>@item.Ingredients</td>
                        @:<td>@item.Grams</td>
                        @:<td>@item.Calories</td>   
                        @:<td>@item.CookingTime</td>
                        @:<td>@item.Price</td>
                        @:<td>@item.CreationDate</td>

                    @:</tr>
                }
                }

            </table>
            <table id="pagination">
                <tr>
                    @for (int i = startPageNum; i <= endPageNum; i++)
                    {
                        if (i == Model.PageNum)
                        {
                            <td>@i</td>
                            continue;
                        }
                        <td><a href="/menu?page=@i">@i</a></td>
                    }
                </tr>
    </table>
    </main>
</body>

</html>
