@model Web.Models.Menu.SingleItemModel
@{
    ViewData["Title"] = Model.MenuItem.Title;
    Layout = "_Layout";
}
<html lang="en-us">
<head>
    @section head{
        <link rel="stylesheet" href="~/css/SingleItemStyle.css" />
        <script type="text/javascript" src="~/js/SingleItemScript.js"></script>
    }
</head>
<body>
    <div class="data-field" id="creation-date">
        <h5>Creation date</h5> @Model.MenuItem.CreationDate
    </div>
    <main id="visible-markup">
        <div id="readonly-fields">
            <div class="data-field">
                <h5>Title</h5> @Model.MenuItem.Title
            </div>
            <div class="data-field">
                <h5>Description</h5> @Model.MenuItem.Description
            </div>
            <div class="data-field">
                <h5>Ingredients</h5> @Model.MenuItem.Ingredients
            </div>
            <div class="data-field">
                <h5>Grams</h5> @Model.MenuItem.Grams
            </div>
            <div class="data-field">
                <h5>Calories</h5> @Model.MenuItem.Calories
            </div>
            <div class="data-field">
                <h5>Cooking time</h5> @Model.MenuItem.CookingTime
            </div>
            <div class="data-field">
                <h5>Price</h5> @Model.MenuItem.Price
            </div>
            <div>
                <button type="button" id="turntoedit-button">Edit</button>
                <button type="button" value="@Model.MenuItem.Id" id="delete-button">Delete</button>

            </div>
        </div>
    </main>

    @section complementary{
    
        <script id="hidden-markup" type="text/html">
                    <div id="editable-fields">
                        <img id="turntoreadonly-button" src="~/pics/arrow_back.svg"/>

                        <form action="/menu/@Model.MenuItem.Id" method="post">
                            <div class="data-field">
                                <label>Title</label> <br />
                                <input type="text" name="Title" value="@Model.MenuItem.Title" placeholder="Title" required />
                            </div>
                            <div class="data-field">
                                <label>Description</label> <br>
                                <input type="text" name="Description" value="@Model.MenuItem.Description" placeholder="Description" required />
                            </div>
                            <div class="data-field">
                                <label>Ingredients</label><br>
                                <input type="text" name="Ingredients" value="@Model.MenuItem.Ingredients" placeholder="Ingredients" required />
                            </div>
                            <div class="data-field">
                                <label>Grams</label><br>
                                <input type="text" name="Grams" value="@Model.MenuItem.Grams" placeholder="Grams" required />
                            </div>
                            <div class="data-field">
                                <label>Calories</label><br>
                                <input type="text" name="Calories" value="@Model.MenuItem.Calories" placeholder="Calories" required />
                            </div>
                            <div class="data-field">
                                <label>Cooking time</label><br>
                                <input type="text" name="CookingTime" value="@Model.MenuItem.CookingTime" placeholder="Cooking time" required />
                            </div>
                            <div class="data-field">
                                <label>Price</label><br>
                                <input type="text" name="Price" value="@Model.MenuItem.Price" placeholder="Price" required />
                            </div>
                            <div class="data-field">
                                <input type="datetime" name="CreationDate" value="@Model.MenuItem.CreationDate" required hidden/>
                            </div>
                            <button type="submit" id="submit-button">Submit</button>
                        </form>
                    </div>
        </script>
    }
</body>
</html>