@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.DTO;
@model Web.Models.Menu.SingleItemModel;
@{
    ViewData["Title"] = Model.MenuItem.Title;
    Layout = "_Layout";
}
<!DOCTYPE html>
<html  xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
    @section head{
        <link rel="stylesheet" href="~/css/SingleItemStyle.css" />
        <script type="text/javascript" src="~/js/SingleItemScript.js"></script>
    }
</head>
<body>
    <div class="data-field" id="creation-date">
        <h5>Creation date</h5> @Model.MenuItem.CreationDate
    </div>
    <main id="visible-markup">
        <div id="readonly-fields">
            <div class="data-field"  lang="en">
                <h5>Title</h5> @Model.MenuItem.Title
            </div>
            <div class="data-field">
                <h5>Description</h5> @Model.MenuItem.Description
            </div>
            <div class="data-field">
                <h5>Ingredients</h5> @Model.MenuItem.Ingredients
            </div>
            <div class="data-field">
                <h5>Grams</h5> @Model.MenuItem.Grams
            </div>
            <div class="data-field">
                <h5>Calories</h5> @Model.MenuItem.CaloriesF
            </div>
            <div class="data-field">
                <h5>Cooking time</h5> @Model.MenuItem.CookingTimeF
            </div>
            <div class="data-field">
                <h5>Price</h5> @Model.MenuItem.PriceF
            </div>
            <div>
                <button type="button" id="turntoedit-button">Edit</button>
                <button type="button" value="@Model.MenuItem.Id" id="delete-button">Delete</button>

            </div>
        </div>
    </main>

    @section complementary{

        <script id="hidden-markup" type="text/html">
            <div id="editable-fields">
                <img id="turntoreadonly-button" src="~/pics/arrow_back.svg" />

                <form action="/menu/@Model.MenuItem.Id" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="data-field">
                        <label asp-for="MenuItem.Title" class="control-label">Title</label> <br />
                        <input asp-for="MenuItem.Title" class="form-control" type="text" value="@Model.MenuItem.Title" placeholder="Title" required /> <br>
                        <span  asp-validation-for="MenuItem.Title"  class="text-danger"name="Description" ></span>
                    </div>
                    <div class="data-field">
                        <label asp-for="MenuItem.Description" class="control-label">Description</label> <br>
                        <input asp-for="MenuItem.Description" class="form-control" type="text"  value="@Model.MenuItem.Description" placeholder="Description" required /> <br>
                        <span asp-validation-for="MenuItem.Description" class="text-danger" name="Description"></span>
                    </div>
                    <div class="data-field">
                        <label asp-for="MenuItem.Ingredients" class="control-label">Ingredients</label><br>
                        <input asp-for="MenuItem.Ingredients" class="form-control" type="text" value="@Model.MenuItem.Ingredients" placeholder="Ingredients" required /> <br>
                        <span asp-validation-for="MenuItem.Ingredients" class="text-danger" name="Description"></span>
                    </div>
                    <div class="data-field">
                        
                        <label asp-for="MenuItem.Grams" class="control-label">Grams</label><br>
                        <input asp-for="MenuItem.Grams" class="form-control" type="text" value="@Model.MenuItem.Grams" placeholder="Grams" required /> <br>
                        <span asp-validation-for="MenuItem.Grams" class="text-danger" name="Description"></span>
                    </div>
                    <div class="data-field">
                        <label asp-for="MenuItem.Calories" class="control-label">Calories<small style="font-weight:100"> (per 100 grams)</small></label><br>
                        <input asp-for="MenuItem.Calories" class="form-control" type="text" value="@Model.MenuItem.Calories" placeholder="Calories" required /> <br>
                        <span asp-validation-for="MenuItem.Calories" class="text-danger" name="Description"></span>
                    </div>
                    <div class="data-field">
                        <label asp-for="MenuItem.CookingTime" class="control-label">Cooking time</label><br>
                        <input asp-for="MenuItem.CookingTime" class="form-control" type="text" value="@Model.MenuItem.CookingTime" placeholder="Cooking time" required /> <br>
                        <span asp-validation-for="MenuItem.CookingTime" class="text-danger" name="Description"></span>
                    </div>
                    <div class="data-field">
                        <label asp-for="MenuItem.Price" class="control-label">Price</label><br>
                        <input type="text" id="price-currency" value="@Model.MenuItem.CurrencySymbol" disabled/>
                        <input asp-for="MenuItem.Price" id="price-value" class="form-control" type="text" value="@Model.MenuItem.Price" placeholder="Price" required /> <br>
                        <span asp-validation-for="MenuItem.Price" class="text-danger" name="Description"></span>
                    </div>
                    <div class="data-field">
                        <input type="datetime" name="CreationDate" value="@Model.MenuItem.CreationDate" required hidden />
                    </div>
                    <button type="submit" id="submit-button">Submit</button>
                </form>
            </div>
        </script>
        <script>
            let initEditable = '@Model.OpenEditable';
            if (initEditable == 'True') swapToEditable();
        </script>
    }
</body>
</html>